1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla.

In [1]:
aux = 20
print(aux)

20

2)Imprimir el tipo de dato de la constante 8.5

In [4]:
x = type(8.5)
print(x)

<class 'float'>

3)Imprimir el tipo de dato de la variable creada en el punto 1.

In [10]:
type(aux)

int

4)Crear una variable que contenga tu nombre.

In [26]:
miNomb = 'Micaela Verónica Paz'

5)Crear una variable que contenga un número complejo.

In [10]:
complejo = 2+6j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [11]:
type(complejo)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [5]:
pi = 3.1416
round(pi,3)

3.142

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [24]:
aux1 = 'True'
aux2 = True
#No son lo mismo, uno es un string y el otro es un booleano.

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [8]:
print('La variable 1 es de tipo',type(aux1), 'y la variable 2 es de tipo', type(aux2))

La variable 1 es de tipo <class 'str'> y la variable 2 es de tipo <class 'bool'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [15]:
suma = 23+2.45
print(suma)

25.45

11) Realizar una operación de suma de números complejos

In [12]:
complejo+=1+3j
print(complejo)

(3+9j)

12) Realizar una operación de suma de un número real y otro complejo

In [13]:
suma1=pi+complejo
print(suma1)

(6.1416+9j)

13) Realizar una operación de multiplicación

In [16]:
suma*=suma
print(suma)

647.7025

14) Mostrar el resultado de elevar 2 a la octava potencia

In [17]:
y=2**8
print(y)

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [20]:
z=27
div=z/4
print(div)

6.75

16) De la división anterior solamente mostrar la parte entera

In [21]:
div2=z//4
print(div2)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [23]:
div3=z%4
print(div3)

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [45]:
print(div2*4+div3)

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [29]:
print(aux1+' '+ miNomb)

True Micaela Verónica Paz

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [32]:
2=='2'
#No son iguales porque son diferentes tipos de datos.

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [31]:
2==int('2')

True

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [2]:
a=float('3.8')

In [22]:
def NumeroCapicua(numero):
    
    a = True
      
    if(type(numero)!=int):
        return None

    numero = str(numero)
    list_num = []

    for i in numero:
        list_num.append(i)

    list_reversed = list(reversed(list_num))
    
    print(list_num)
    print(list_reversed)

    if (list_num != list_reversed):
        a = False

    return a



print(NumeroCapicua(123456))

['1', '2', '3', '4', '5', '6']
['6', '5', '4', '3', '2', '1']
False

- Porque va con . no con ,

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido

In [60]:
c=3
c-=5
print(c)

-2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [63]:
1<<2 #Le estoy agragando 2 ceros y lo interpreta en binario 100 = 4

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [67]:
print('2'+'2')
print(2+2)
print('2'+2)
#No está permitido porque son de diferente tipo, si son del mismo tipo no hay problema.

22
4

TypeError: can only concatenate str (not "int") to str

26) Realizar una operación válida entre valores de tipo entero y string

In [35]:
var1 = 'este texto se repite '
var2 = 3
print(var1 * var2 + str(var2) + ' veces')

este texto se repite este texto se repite este texto se repite 3 veces